@font-face {
  font-family: 'Phantom Sans1';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans2';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans3';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.bg-light-white {
  background-color: #f3f3f3;
}

.social-icon {
  color: #3b568d;
  text-decoration: none !important;
}

.text-blue {
  color: #14599f;
}

.btn-primary {
  color: white !important;
  background-color: #14599f !important;
}

.btn-primary:hover {
  background-color: #3b568d !important;
}

#svgLogo {
  width: 30%;
  height: auto;
}

#canvas {
  width: 0;
  height: auto;
}

.text-sm {
  font-size: small;
}

.preview-text {
  color: #6c757d;
  transition: 0.5s;
}

svg {
  transition: 0.5s;
}
