@font-face {
  font-family: 'Satoshi-Regular';
  src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
       url('./fonts/Satoshi-Medium.woff') format('woff');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('./fonts/Satoshi-Black.woff2') format('woff2'),
       url('./fonts/Satoshi-Black.woff') format('woff');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

.bg-light-white {
  background-color: #f3f3f3;
}

.social-icon {
  color: #3b568d;
  text-decoration: none !important;
}

.text-red {
  color: #ec3750;
}

.btn-primary {
  color: white !important;
  background-color: #14599f !important;
}

.btn-primary:hover {
  background-color: #3b568d !important;
}

#svgLogo {
  width: 30%;
  height: auto;
}

#canvas {
  width: 0;
  height: auto;
}

.text-sm {
  font-size: small;
}

.preview-text {
  color: #6c757d;
  transition: 0.5s;
}

svg {
  transition: 0.5s;
}
